MyWebProject/WebContent/wsdl/GenerateAndDownloadHashWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.mywebproject.dsestili.it" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.mywebproject.dsestili.it" xmlns:intf="http://ws.mywebproject.dsestili.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.mywebproject.dsestili.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="generateAndDownloadHash">
    <complexType>
     <sequence>
      <element name="folder" type="xsd:string"/>
      <element name="algorithm" type="xsd:string"/>
      <element name="mode" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generateAndDownloadHashResponse">
    <complexType>
     <sequence>
      <element name="generateAndDownloadHashReturn" type="impl:Result"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="FileInfo">
    <sequence>
     <element name="fileName" nillable="true" type="xsd:string"/>
     <element name="hash" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfFileInfo">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:FileInfo"/>
    </sequence>
   </complexType>
   <complexType name="Result">
    <sequence>
     <element name="result" nillable="true" type="impl:ArrayOfFileInfo"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="generateAndDownloadHashRequest">

      <wsdl:part element="impl:generateAndDownloadHash" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generateAndDownloadHashResponse">

      <wsdl:part element="impl:generateAndDownloadHashResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GenerateAndDownloadHashWS">

      <wsdl:operation name="generateAndDownloadHash">

         <wsdl:input message="impl:generateAndDownloadHashRequest" name="generateAndDownloadHashRequest">

       </wsdl:input>

         <wsdl:output message="impl:generateAndDownloadHashResponse" name="generateAndDownloadHashResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GenerateAndDownloadHashWSSoapBinding" type="impl:GenerateAndDownloadHashWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="generateAndDownloadHash">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generateAndDownloadHashRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generateAndDownloadHashResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GenerateAndDownloadHashWSService">

      <wsdl:port binding="impl:GenerateAndDownloadHashWSSoapBinding" name="GenerateAndDownloadHashWS">

         <wsdlsoap:address location="http://localhost:8080/MyWebProject/services/GenerateAndDownloadHashWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
